body {
  background-color: gainsboro;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.final {
  padding: .5rem;
  border: solid black 1px;
  font-size: 1.5rem;
}

select {
  height: 1.5rem;
}

legend {
  font-size: 1.5rem;
}

label {
  display: flex;
  font-size: 1.5rem;
}

input {
  background-color: gainsboro;
  height: 1.5rem;
}
